<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A Hard Day's Night</key>
	<string>Lennon &amp; McCartney</string>
	<key>And I Love Her</key>
	<string>Lennon &amp; McCartney</string>
	<key>Any Time At All</key>
	<string>Lennon &amp; McCartney</string>
	<key>Can't Buy Me Love</key>
	<string>Lennon &amp; McCartney</string>
	<key>I Should Have Known Better</key>
	<string>Lennon &amp; McCartney</string>
	<key>I'll Be Back</key>
	<string>Lennon &amp; McCartney</string>
	<key>I'll Cry Instead</key>
	<string>Lennon &amp; McCartney</string>
	<key>I'm Happy Just To Dance With You</key>
	<string>Lennon &amp; McCartney</string>
	<key>If I Fell</key>
	<string>Lennon &amp; McCartney</string>
	<key>Tell Me Why</key>
	<string>Lennon &amp; McCartney</string>
	<key>Things We Said Today</key>
	<string>Lennon &amp; McCartney</string>
	<key>When I Get Home</key>
	<string>Lennon &amp; McCartney</string>
	<key>You Can't Do That</key>
	<string>Lennon &amp; McCartney</string>
</dict>
</plist>
