<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Because</key>
	<string>Lennon &amp; McCartney</string>
	<key>Carry That Weight</key>
	<string>Lennon &amp; McCartney</string>
	<key>Come Together</key>
	<string>Lennon &amp; McCartney</string>
	<key>Golden Slumbers</key>
	<string>Lennon &amp; McCartney</string>
	<key>Her Majesty</key>
	<string>Lennon &amp; McCartney</string>
	<key>Here Comes The Sun </key>
	<string>George Harrison</string>
	<key>I Want You</key>
	<string>Lennon &amp; McCartney</string>
	<key>Maxwell's Silver Hammer</key>
	<string>Lennon &amp; McCartney</string>
	<key>Mean Mr. Mustard</key>
	<string>Lennon &amp; McCartney</string>
	<key>Octopus's Garden</key>
	<string>Lennon &amp; McCartney</string>
	<key>Oh! Darling</key>
	<string>Lennon &amp; McCartney</string>
	<key>Polythene Pam</key>
	<string>Lennon &amp; McCartney</string>
	<key>She Came In Through The Bathroom Window</key>
	<string>Lennon &amp; McCartney</string>
	<key>Something </key>
	<string>George Harrison</string>
	<key>Sun King</key>
	<string>Lennon &amp; McCartney</string>
	<key>The End</key>
	<string>Lennon &amp; McCartney</string>
	<key>You Never Give Me Your Money</key>
	<string>Lennon &amp; McCartney</string>
</dict>
</plist>
