<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A HARD DAY'S NIGHT</key>
	<string>Produced by George Martin |July 10. 1964|HardDaysNight.jpg</string>
	<key>ABBEY ROAD</key>
	<string>Produced by George Martin|September 26, 1969|abbeyRoad.jpg</string>
	<key>BEATLES FOR SALE</key>
	<string>Produced by George Martin |December 4, 1964|BeatlesForSale.jpg</string>
	<key>HELP!</key>
	<string>Produced by George Martin |August 6, 1965|help.jpg</string>
	<key>LET IT BE</key>
	<string>Produced by George Martin &amp; Phil Spector|May 8, 1970 (November 6, 1970|letitbe.jpg</string>
	<key>MAGICAL MYSTERY TOUR</key>
	<string>Produced by George Martin|December 6, 1967|MagicalMysteryTour.jpg</string>
	<key>PLEASE PLEASE ME</key>
	<string>Produced by George Martin|March 22, 1963|pleasePleaseMe.jpg</string>
	<key>Past Masters Volume 1</key>
	<string>Produced by George Martin|March 7, 1988|PastMastersVolume1.jpg</string>
	<key>Past Masters Volume 2</key>
	<string>Produced by George Martin|March 7, 1988|PastMastersVolume2.jpg</string>
	<key>REVOLVER</key>
	<string>Produced by George Martin |August 5, 1966|revolver.jpg</string>
	<key>RUBBER SOUL</key>
	<string>Produced by George Martin |December 3, 1965|rubberSoul.jpg</string>
	<key>SGT. PEPPER'S LONELY HEARTS</key>
	<string>Produced by George Martin|June 1, 1967|sgt_pepper.jpg</string>
	<key>THE BEATLES (The White Album)</key>
	<string>Produced by George Martin|November 22, 1968|white.jpg</string>
	<key>WITH THE BEATLES</key>
	<string>Produced by George Martin |November 22, 1963|WithTheBeatles.jpg</string>
	<key>YELLOW SUBMARINE</key>
	<string>Produced by George Martin|January 17, 1969|Yellowsubmarine.jpg</string>
</dict>
</plist>
