<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Baby&apos;s In Black</key>
	<string>Lennon &amp; McCartney</string>
	<key>Eight Days A Week</key>
	<string>Lennon &amp; McCartney</string>
	<key>Every Little Thing</key>
	<string>Lennon &amp; McCartney</string>
	<key>Everybody&apos;s Trying To Be My Baby </key>
	<string>Carl Perkins</string>
	<key>Honey Don&apos;t </key>
	<string>Carl Perkins</string>
	<key>I Don&apos;t Want To Spoil The Party</key>
	<string>Lennon &amp; McCartney</string>
	<key>I&apos;ll Follow The Sun</key>
	<string>Lennon &amp; McCartney</string>
	<key>I&apos;m A Loser</key>
	<string>Lennon &amp; McCartney</string>
	<key>Kansas City - Hey Hey Hey Hey </key>
	<string>Jerry Leiber/Mike Stoller - Richard Penniman</string>
	<key>Mr. Moonlight </key>
	<string>Roy Lee Johnson</string>
	<key>No Reply</key>
	<string>Lennon &amp; McCartney</string>
	<key>Rock and Roll Music </key>
	<string>Chuch Berry</string>
	<key>What You&apos;re Doing</key>
	<string>Lennon &amp; McCartney</string>
	<key>Words Of Love </key>
	<string>Buddy Holly</string>
</dict>
</plist>
