<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Act Naturally </key>
	<string>Johnny Russell/Vonie Morrison</string>
	<key>Another Girl</key>
	<string>Lennon &amp; McCartney</string>
	<key>Dizzy Miss Lizzy </key>
	<string>Larry Williams</string>
	<key>Help!</key>
	<string>Lennon &amp; McCartney</string>
	<key>I Need You </key>
	<string>George Harrison</string>
	<key>I've Just Seen A Face</key>
	<string>Lennon &amp; McCartney</string>
	<key>It's Only Love</key>
	<string>Lennon &amp; McCartney</string>
	<key>Tell Me What You See </key>
	<string>Lennon &amp; McCartney</string>
	<key>The Night Before</key>
	<string>Lennon &amp; McCartney</string>
	<key>Ticket To Ride</key>
	<string>Lennon &amp; McCartney</string>
	<key>Yesterday</key>
	<string>Lennon &amp; McCartney</string>
	<key>You Like Me Too Much </key>
	<string>George Harrison</string>
	<key>You're Going To Lose That Girl</key>
	<string>Lennon &amp; McCartney</string>
	<key>You've Got To Hide Your Love Away</key>
	<string>Lennon &amp; McCartney</string>
</dict>
</plist>
