<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Across The Universe</key>
	<string>Lennon &amp; McCartney</string>
	<key>Dig A Pony</key>
	<string>Lennon &amp; McCartney</string>
	<key>Dig It </key>
	<string>John Lennon/Paul McCartney/George Harrison/Richard Starkey)</string>
	<key>For You Blue </key>
	<string>George Harrison</string>
	<key>Get Back</key>
	<string>Lennon &amp; McCartney</string>
	<key>I Me Mine </key>
	<string>George Harrison</string>
	<key>I've Got A Feeling</key>
	<string>Lennon &amp; McCartney</string>
	<key>Let It Be</key>
	<string>Lennon &amp; McCartney</string>
	<key>Maggie Mae</key>
	<string>Lennon &amp; McCartney</string>
	<key>One After 909</key>
	<string>Lennon &amp; McCartney</string>
	<key>The Long And Winding Road</key>
	<string>Lennon &amp; McCartney</string>
	<key>Two Of Us</key>
	<string>Lennon &amp; McCartney</string>
</dict>
</plist>
