<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All You Need Is Love</key>
	<string>Lennon &amp; McCartney</string>
	<key>Baby, You're a Rich Man</key>
	<string>Lennon &amp; McCartney</string>
	<key>Blue Jay Way</key>
	<string>Lennon &amp; McCartney</string>
	<key>Flying</key>
	<string>Lennon &amp; McCartney</string>
	<key>Hello, Goodbye</key>
	<string>Lennon &amp; McCartney</string>
	<key>I Am the Walrus</key>
	<string>Lennon &amp; McCartney</string>
	<key>Magical Mystery Tour</key>
	<string>Lennon &amp; McCartney</string>
	<key>Penny Lane</key>
	<string>Lennon &amp; McCartney</string>
	<key>Strawberry Fields Forever</key>
	<string>Lennon &amp; McCartney</string>
	<key>The Fool on the Hill</key>
	<string>Lennon &amp; McCartney</string>
	<key>Your Mother Should Know</key>
	<string>Lennon &amp; McCartney</string>
</dict>
</plist>
