<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Across the Universe</key>
	<string>Lennon &amp; McCartney</string>
	<key>Day Tripper</key>
	<string>Lennon &amp; McCartney</string>
	<key>Don't Let Me Down</key>
	<string>Lennon &amp; McCartney</string>
	<key>Get Back</key>
	<string>Lennon &amp; McCartney</string>
	<key>Hey Jude</key>
	<string>Lennon &amp; McCartney</string>
	<key>Lady Madonna</key>
	<string>Lennon &amp; McCartney</string>
	<key>Let it Be</key>
	<string>Lennon &amp; McCartney</string>
	<key>Old Brown Shoe</key>
	<string>Lennon &amp; McCartney</string>
	<key>Paperback Writer</key>
	<string>Lennon &amp; McCartney</string>
	<key>Rain</key>
	<string>Lennon &amp; McCartney</string>
	<key>Revolution</key>
	<string>Lennon &amp; McCartney</string>
	<key>The Ballad of John &amp; Yoko</key>
	<string>Lennon &amp; McCartney</string>
	<key>The Inner Light</key>
	<string>Lennon &amp; McCartney</string>
	<key>We Can Work It Out</key>
	<string>Lennon &amp; McCartney</string>
	<key>You Know My Name </key>
	<string>Look Up the Number</string>
</dict>
</plist>
