<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bad Boy</key>
	<string>Lennon &amp; McCartney</string>
	<key>From Me to You</key>
	<string>Lennon &amp; McCartney</string>
	<key>I Call Your Name</key>
	<string>Lennon &amp; McCartney</string>
	<key>I Feel Fine</key>
	<string>Lennon &amp; McCartney</string>
	<key>I Want to Hold Your Hand</key>
	<string>Lennon &amp; McCartney</string>
	<key>I&apos;ll Get You</key>
	<string>Lennon &amp; McCartney</string>
	<key>I&apos;m Down</key>
	<string>Lennon &amp; McCartney</string>
	<key>Komm gib mir Deine Hand</key>
	<string>Lennon &amp; McCartney</string>
	<key>Long Tall Sally</key>
	<string>Lennon &amp; McCartney</string>
	<key>Love Me Do</key>
	<string>Lennon &amp; McCartney</string>
	<key>Matchbox</key>
	<string>Lennon &amp; McCartney</string>
	<key>She Loves You</key>
	<string>Lennon &amp; McCartney</string>
	<key>She&apos;s a Woman</key>
	<string>Lennon &amp; McCartney</string>
	<key>Sie liebt dich</key>
	<string>Lennon &amp; McCartney</string>
	<key>Slow Down</key>
	<string>Lennon &amp; McCartney</string>
	<key>Thank You Girl</key>
	<string>Lennon &amp; McCartney</string>
	<key>This Boy</key>
	<string>Lennon &amp; McCartney</string>
	<key>Yes It Is</key>
	<string>Lennon &amp; McCartney</string>
</dict>
</plist>
