<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A Taste Of Honey </key>
	<string>Ric Marlow/Bobby Scott</string>
	<key>Anna </key>
	<string>Arthur Alexander</string>
	<key>Ask Me Why</key>
	<string>Lennon &amp; McCartney</string>
	<key>Baby It's You </key>
	<string>Hal David/Burt Bacharach/Barney Williams</string>
	<key>Boys </key>
	<string>Luther Dixon/Wes Farrell</string>
	<key>Chains </key>
	<string>Gerry Goffin/Carole King</string>
	<key>Do You Want To Know A Secret</key>
	<string>Lennon &amp; McCartney</string>
	<key>I Saw Her Standing There</key>
	<string>Lennon &amp; McCartney</string>
	<key>Love Me Do</key>
	<string>Lennon &amp; McCartney</string>
	<key>Misery</key>
	<string>Lennon &amp; McCartney</string>
	<key>P.S. I Love You</key>
	<string>Lennon &amp; McCartney</string>
	<key>Please Please Me</key>
	<string>Lennon &amp; McCartney</string>
	<key>There's A Place</key>
	<string>Lennon &amp; McCartney</string>
	<key>Twist And Shout </key>
	<string>Bert Russell/Phil Medley</string>
</dict>
</plist>
