<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>And Your Bird Can Sing</key>
	<string>Lennon &amp; McCartney</string>
	<key>Dr. Robert</key>
	<string>Lennon &amp; McCartney</string>
	<key>Eleanor Rigby</key>
	<string>Lennon &amp; McCartney</string>
	<key>For No One</key>
	<string>Lennon &amp; McCartney</string>
	<key>Good Day Sunshine</key>
	<string>Lennon &amp; McCartney</string>
	<key>Got To Get You Into My Life</key>
	<string>Lennon &amp; McCartney</string>
	<key>Here There And Everywhere</key>
	<string>Lennon &amp; McCartney</string>
	<key>I Want To Tell You </key>
	<string>George Harrison</string>
	<key>I'm Only Sleeping</key>
	<string>Lennon &amp; McCartney</string>
	<key>Love You To </key>
	<string>George Harrison</string>
	<key>She Said She Said</key>
	<string>Lennon &amp; McCartney</string>
	<key>Taxman </key>
	<string>George Harrison</string>
	<key>Tomorrow Never Knows</key>
	<string>Lennon &amp; McCartney</string>
	<key>Yellow Submarine</key>
	<string>Lennon &amp; McCartney</string>
</dict>
</plist>
