<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Drive My Car</key>
	<string>Lennon &amp; McCartney</string>
	<key>Girl</key>
	<string>Lennon &amp; McCartney</string>
	<key>I'm Looking Through You</key>
	<string>Lennon &amp; McCartney</string>
	<key>If I Needed Someone </key>
	<string>George Harrison</string>
	<key>In My Life</key>
	<string>Lennon &amp; McCartney</string>
	<key>Michelle</key>
	<string>Lennon &amp; McCartney</string>
	<key>Norwegian Wood</key>
	<string>Lennon &amp; McCartney</string>
	<key>Nowhere Man</key>
	<string>Lennon &amp; McCartney</string>
	<key>Run For Your Life</key>
	<string>Lennon &amp; McCartney</string>
	<key>The Word</key>
	<string>Lennon &amp; McCartney</string>
	<key>Think For Yourself </key>
	<string>George Harrison</string>
	<key>Wait</key>
	<string>Lennon &amp; McCartney</string>
	<key>What Goes On </key>
	<string>John Lennon/Paul McCartney/Richard Starkey</string>
	<key>You Won't See Me</key>
	<string>Lennon &amp; McCartney</string>
</dict>
</plist>
