<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A Day In The Life</key>
	<string>Lennon &amp; McCartney</string>
	<key>Being For The Benefit Of Mr. Kite!</key>
	<string>Lennon &amp; McCartney</string>
	<key>Fixing A Hole</key>
	<string>Lennon &amp; McCartney</string>
	<key>Getting Better</key>
	<string>Lennon &amp; McCartney</string>
	<key>Good Morning Good Morning</key>
	<string>Lennon &amp; McCartney</string>
	<key>Lovely Rita</key>
	<string>Lennon &amp; McCartney</string>
	<key>Lucy In The Sky With Diamonds</key>
	<string>Lennon &amp; McCartney</string>
	<key>Sgt. Pepper's Lonely Hearts Club Band</key>
	<string>Lennon &amp; McCartney</string>
	<key>Sgt. Pepper's Lonely Hearts Club Band -reprise</key>
	<string>Lennon &amp; McCartney</string>
	<key>She's Leaving Home</key>
	<string>Lennon &amp; McCartney</string>
	<key>When I'm Sixty-Four</key>
	<string>Lennon &amp; McCartney</string>
	<key>With A Little Help From My Friends</key>
	<string>Lennon &amp; McCartney</string>
	<key>Within You Without You </key>
	<string>George Harrison</string>
</dict>
</plist>
