<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Back In The USSR</key>
	<string>Lennon &amp; McCartney</string>
	<key>Birthday</key>
	<string>Lennon &amp; McCartney</string>
	<key>Blackbird</key>
	<string>Lennon &amp; McCartney</string>
	<key>Cry Baby Cry</key>
	<string>Lennon &amp; McCartney</string>
	<key>Dear Prudence</key>
	<string>Lennon &amp; McCartney</string>
	<key>Don't Pass Me By </key>
	<string>Richard Starkey</string>
	<key>Everybody's Got Something To Hide Except Me And My Monkey</key>
	<string>Lennon &amp; McCartney</string>
	<key>Glass Onion</key>
	<string>Lennon &amp; McCartney</string>
	<key>Good Night</key>
	<string>Lennon &amp; McCartney</string>
	<key>Happiness Is A Warm Gun</key>
	<string>Lennon &amp; McCartney</string>
	<key>Helter Skelter</key>
	<string>Lennon &amp; McCartney</string>
	<key>Honey Pie</key>
	<string>Lennon &amp; McCartney</string>
	<key>I Will</key>
	<string>Lennon &amp; McCartney</string>
	<key>I'm So Tired</key>
	<string>Lennon &amp; McCartney</string>
	<key>Julia</key>
	<string>Lennon &amp; McCartney</string>
	<key>Long Long Long </key>
	<string>George Harrison</string>
	<key>Martha My Dear</key>
	<string>Lennon &amp; McCartney</string>
	<key>Mother Nature's Son</key>
	<string>Lennon &amp; McCartney</string>
	<key>Ob-La-Di Ob-La-Da</key>
	<string>Lennon &amp; McCartney</string>
	<key>Piggies </key>
	<string>George Harrison</string>
	<key>Revolution 1</key>
	<string>Lennon &amp; McCartney</string>
	<key>Revolution 9</key>
	<string>Lennon &amp; McCartney</string>
	<key>Rocky Raccoon</key>
	<string>Lennon &amp; McCartney</string>
	<key>Savoy Truffle </key>
	<string>George Harrison</string>
	<key>Sexy Sadie</key>
	<string>Lennon &amp; McCartney</string>
	<key>The Continuing Story Of Bungalow Bill</key>
	<string>Lennon &amp; McCartney</string>
	<key>While My Guitar Gently Weeps </key>
	<string>George Harrison</string>
	<key>Why Don't We Do It In The Road</key>
	<string>Lennon &amp; McCartney</string>
	<key>Wild Honey Pie</key>
	<string>Lennon &amp; McCartney</string>
	<key>Yer Blues</key>
	<string>Lennon &amp; McCartney</string>
</dict>
</plist>
