<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All I&apos;ve Got To Do</key>
	<string>Lennon &amp; McCartney</string>
	<key>All My Loving</key>
	<string>Lennon &amp; McCartney</string>
	<key>Devil In Her Heart </key>
	<string>Richard B. Drapkin</string>
	<key>Don&apos;t Bother Me </key>
	<string>George Harrison</string>
	<key>Hold Me Tight </key>
	<string>Lennon &amp; McCartney</string>
	<key>I Wanna Be Your Man </key>
	<string>Lennon &amp; McCartney</string>
	<key>It Won&apos;t Be Long </key>
	<string>Lennon &amp; McCartney</string>
	<key>Little Child</key>
	<string>Lennon &amp; McCartney</string>
	<key>Money (That&apos;s What I Want) </key>
	<string>Berry Gordy/Janie Bradford</string>
	<key>Not A Second Time</key>
	<string>Lennon &amp; McCartney</string>
	<key>Please Mr. Postman </key>
	<string>Brian Holland/Robert Bateman/Berry Gordy</string>
	<key>Roll Over Beethoven </key>
	<string>Chuch Berry</string>
	<key>Till There Was You </key>
	<string>Meredith Willson</string>
	<key>You Really Got A Hold On Me </key>
	<string>William Robinson</string>
</dict>
</plist>
